[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SyedAshraf
[access "refs/for/refs/*"]
	read = group user/SyedAshraf
	push = group user/SyedAshraf
	label-Code-Review = -2..+2 group user/SyedAshraf
	label-Verified = -1..+1 group user/SyedAshraf
	rebase = group user/SyedAshraf
	removeReviewer = group user/SyedAshraf
	submit = group user/SyedAshraf
[access "refs/heads/*"]
	read = group user/SyedAshraf
	create = group user/SyedAshraf
	push = +force group user/SyedAshraf
	pushMerge = group user/SyedAshraf
[access "refs/tags/*"]
	push = +force group user/SyedAshraf
	pushTag = group user/SyedAshraf
	pushSignedTag = group user/SyedAshraf
